* **#Task 2**   
* **Registration/Referral id :** SIRSS2218
* **Full name :** Shrikrushnakumar Bhausaheb Sondge

**Q1. Write a lambda expression to extract first word of a string.**

In [3]:
a = 'They call me master.'
x = lambda s : s.split()[0]
print(x(a))

They

**Q.2 Write a function to extract first word of s string (with many words separated by space).**

In [4]:
a = "Write a function to extract first word of s string (with many words separated by space)."
def func(s):
  return s.split()[0]
print(func(a))

Write

**Q.3 Extract the first word from every string from a list of strings by using map function.**

In [5]:
l = ['Iron Man', 'Captain America', 'Doctor Strange']
list(map(func,l))

['Iron', 'Captain', 'Doctor']

**Q.4 Write a function to return a list of prime factors of a given number.**

In [6]:
def PrimeFactor(x):
    prime_fact = []
    d = 2

    while d <= x:
        if x % d == 0:
            prime_fact.append(d)
            x = x/d
        else:
            d += 1
    return prime_fact

print(PrimeFactor(756))

[2, 2, 3, 3, 3, 7]

**Q.5 Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed,
without sorting).**

In [7]:
a = []
for i in range(5):
  b = int(input("ENter 5 numbers :  "))
  a.append(b)
c = set(a)
c.remove(max(c))
print(max(c))

ENter 5 numbers :  99
ENter 5 numbers :  999
ENter 5 numbers :  969
ENter 5 numbers :  989
ENter 5 numbers :  0
989